{% extends "base.html" %}

{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="static/css/style.css">
{% endblock %}

{% block content %}
    <div class="login-dark">
        <form method="post">
            {{ form.hidden_tag() }}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group">{{ form.email(class="form-control", placeholder="Email", type="email") }}</div>
            {% for error in form.email.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
            <div class="form-group">{{ form.password(class="form-control", placeholder="Password", type="password") }}</div>
            {% for error in form.password.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
            <div class="form-group">{{ form.submit(class="btn btn-primary btn-block", type="submit") }}</div>
            <a href="{{ url_for('register') }}" class="forgot">Don't have an account? Sign up here</a
        </form>


    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

{% endblock %}

